:root{
    --light-yellow: rgb(245, 245, 195);
    --dark-yellow: rgb(185, 197, 13);
}

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: min-content 4fr;
    grid-template-rows: 1fr 5fr;
    font-family: 'Varela Round', sans-serif, Verdana;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--dark-yellow);
    display: grid;
    grid-template-rows: repeat(10, min-content);
    gap: 15px;
    padding-left: 25px;
    font-size: 18px;
    color: white;
    font-weight: 800;
}

.sidebar > div {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    gap: 15px;
    padding-right: 90px;
}

.dashboard{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: -10px;
    font-size: 24px;
} 

.dashboard > img {
    margin-right: -10px;
}



.communities {
    margin-bottom: 30px;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr 1fr;
    font-weight: 600;
    white-space: nowrap;
}

.search {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-items: center;
}

.search > img {
    grid-column: 1;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
}


.search > input {
    min-width: 95%;
    grid-column: 2;
    border: 0px none;
    background-color: var(--light-yellow);
    border-radius: 15px;
    height: 30px;
    padding-left: 8px;
    padding-right: 10px;
    font-size: 18px;
}

.search > input:focus {
    outline-color: rgb(185, 197, 13);
}

.user {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-items: center;
    align-items: center;
}

.user > img {
    grid-column: 1;
    margin-left: 30px;
    display: grid;
    justify-self: end;
}

.user.picture {
    grid-column: 2;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
    background-image: url(picture/thinking.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: yellow;
}

.user.name {
    grid-column: 3;
    font-size: 18px;
    margin-right: 60px;
}

.greeting {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
}

.greeting.picture {
    grid-column: 1;
    grid-row: 1 / 3;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-image: url(picture/thinking.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: yellow;
}

.greeting.hi {
    grid-column: 2;
    grid-row: 1;
    font-size: 16px;
    align-content: center;
}

.greeting.name {
    grid-column: 2;
    grid-row: 2;
    font-size: 24px;
    text-align: center;
}


.buttons {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, fit-content);
    grid-template-rows: 1fr;
    gap: 15px;
    align-items: center;
}


.buttons > button {
    border-radius: 25px;
    border: none;
    background-color: yellow;
    color: rgb(122, 122, 19);
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    font-family: 'Varela Round', sans-serif, Verdana;
    padding: 10px 25px;
}

.buttons.new {
    grid-column: 1;
    grid-row: 1;
    margin-left: 15px;
}

.buttons.upload {
    grid-column: 2;
    grid-row: 1;
}

.buttons.share {
    grid-column: 3;
    grid-row: 1;
    margin-right: 40px;
}

.content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--light-yellow);
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(4, min-content);
}

.projects {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.projects, .announcements, .trending {
	margin-top: 15px;
	margin-left: 5px;
}

.projects-container {
	grid-column: 1 / 2;
	grid-row: 2 / 5;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.projects-cards {
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5px;
}

.projects-cards > div {
	border-radius: 10px;
	margin: 5px;
	border: 1px solid;
	padding: 10px;
	/* display: grid;
	grid-template-columns: 3px 1fr;
	grid-template-rows: repeat(3, min-content); */
}

/* .projects-cards > div > .stripe {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
}

.projects-cards > div > .card-title {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.projects-cards > div > .card-description {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.projects-cards > div > .icons {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
} */

.announcements {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.announcements-cards {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: grid;
	grid-template-rows: 3fr;
}

.announcements-cards > div {
	display: grid;
	grid-template-rows: repeat(2, min-content);
	
}

.announcements-cards > .card1 {
	grid-row: 1 / 2;
}

.announcements-cards > .card2 {
	grid-row: 2 / 3;
}

.announcements-cards > .card3 {
	grid-row: 3 / 4;
}

.trending {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.trending-users {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	display: grid;
	grid-template-rows: repeat(4, min-content);
}

.trending-user1 {
	grid-row: 1 / 2;
}

.trending-user2 {
	grid-row: 2 / 3;
}

.trending-user3 {
	grid-row: 3 / 4;
}

.trending-user4 {
	grid-row: 4 / 5;
}